<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deliveries.css" />
    <title>Fulfillment page</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navMenu">
                <li><a href="/openDeliveries">A list of open deliveries</a></li>
                <li><a href="/fulfillment">Delivery fulfillment page</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1>Deliveries Order</h1>
    <div class="deliveriesList">
        {{uploadedPhoto}}
        {{errorMsg}}
        {{#each transitOrder}}
        <div class="deliveriesInfo">
            <div class="customerOrderInfo">
                <h3>Name: {{this.customerName}}</h3>
                <p>Address: {{this.address}}</p>
                <p>Date: {{this.dateAndTime}}</p>
                <ul>
                    {{#each this.items}}
                    <li>Item: {{this}}</li>
                    {{/each}}
                </ul>
                <h3>Status: {{this.status}}</h3>
                <form class="orderArrived" action="/orderArrived/{{this.confirmation}}" method="post">
                    <button type="submit">Arrived</button>
                </form>
            </div>


            <form class="uploadphoto" action="/photoUpload/{{this.confirmation}}" method="post" enctype="multipart/form-data">
                <label for="photo">Upload your photo</label>
                <input type="file" name="photo" required />
                <button type="submit">Upload photo</button>
            </form>
        </div>
        {{/each}}
    </div>
</body>

</html>