<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Bistro</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/">Menu </a> </li>
                <li> <a href="#">Your Order</a> </li>
                <li> <a href="/orderStatus">Order Status </a> </li>
                <li> <a href="/orderHistory">Order History </a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>DJ Bistro</h1>
        <h2>Your Order</h2>

        {{#if order}}

        <div class="menu">
            <table>
                {{#each order}}
                <tr>
                    
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <form action="/removeFromCart/{{this.name}}/yourOrder">
                        <button type="submit" class="removeFromCartButton">X</button>
                        </form>
                    </td>
                </tr>
                {{/each}}

            </table>

            {{#if error}}
            <p>Please Enter Your Name AND Address</p>
            {{/if}}
            <div class="submitButtons">
            <form action="/submitOrder" method="post">
                <input type="text" name="name" placeholder="Enter Your Name">
                <input type="text" name="address" placeholder="Enter Your Address">
                <button class="submitButton">Submit</button>
            </form>

            <form action="/emptyCart" method="get">
                <button id="emptyCartButton">Empty Cart</button>
            </form>
            </div>

        </div>
        {{else}}
        {{#if orderId}}
        <p class="removeFromCartButton">Order#: {{orderId}}</p>
        {{else}}
        <div class="menu">
        <p>No Items Yet</p>
        <a href="/">Go Back To Menu</a>
            </div>
        {{/if}}
        {{/if}}
    </main>

</body>

</html>